body {
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.titulo_safra {
    margin: 0px;
    padding: 20px 0px 20px 40px;
}

.title-safra {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #195925;
    font-weight: bolder;
    
}

.section_main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap: 20px;
    padding: 20px 0;
    padding-left: 50px;
}

.cards-laterais {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}

.card-instavel-critica,
.card-adequada {
    background: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    height: 300px;
}

.card-instavel-critica h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.card-instavel-critica h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-adequada h3 {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.titulo-verde {
    color: #17d600;
    font-weight: bold;
}

.instavel {
    color: orange;
    font-weight: bold;
}

.critica {
    color: red;
    font-weight: bold;
}

.btn-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background: #f5eaea;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-lista span {
    font-size: 20px;
    font-weight: 900;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-lista p {
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0px;
    font-size: 16px;
    color: #565d4b;
    font-weight: 900;
}

.btn-lista img {
    height: 20px;
    margin-left: 5px;
}

.div_safras {
    width: 100%;
    max-width: 800px;
}

.div_safras h1 {
    text-align: center;
    color: #195925;
    font-size: 38px;
    margin-top: 0;
}

.container_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    height: fit-content;
}

.card-safra {
    display: flex;
    width: fit-content;
    max-height: 150px;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #558C03;
    background-color: #e0f9e0;
    padding: 15px 12px;
    gap: 15px;
    cursor: pointer;
}

.card-safra img {
    height: 100px;
    border-radius: 15px;
}

.card-safra span p {
    font-size: 17px;
    text-align: start;
    padding: 8px 0px 0px 0px;
    margin: 0px;
}

.card-safra span p span {
    color: #8b9848;
}

.card-safra span h2 {
    font-weight: bolder;
    text-align: start;
    padding: 0px 0px 4px 0px;
    margin: 0px;
}

.card-safra span h2 span {
    color: #808f28;
}