body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/* ALTURA SÓ PARA PODER VISUALIZAR OS ELEMENTOS, NO FINAL APAGAR ESSA LINHA!!! */
.section_home,
.section_wasabi,
.section_simulacao,
.section_quemSomos,
.section_contato {
    min-height: 100vh;
}

/* HEADER */

.header {
    min-height: 60px;
    /* background-color: #CCE4CB; */
    /* position: fixed;
    top: 0px; */
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: nowrap;
    gap: 30px;
}

.header a {
    color: #000000;
    text-decoration: none;
    outline: none;
}

.div_logo img {
    height: 50px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.div_authButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.div_authButtons a:first-child {
    background-color: #CCE4CB;
    color: #558C03;
    border: 2px solid #558C03;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 5px 25px;
    border-radius: 10px;
} 

.div_authButtons a:last-child {
    background-color: #558C03;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 5px 18px;
    border-radius: 10px;
} 

/* SEÇÃO HOME */

.section_home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    margin-bottom: 250px;
}

.section_home .container {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    flex-wrap: wrap;
    gap: 50px;
}

.div_msg h1 {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

.div_msg p {
    font-size: 85px;
    max-width: 650px;
    margin: 0px;
    padding: 30px 0px;
    color: #558c03;
    font-weight: bolder;
}

.div_msg p span {
    color: #2e5902;
}

.div_msg h4 {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    color: #0d2601;
    font-size: 35px;
}

.div_img {
    padding-right: 70px;
}

.div_img img {
    max-width: 557px;
    width: 100%;
    box-shadow: 70px 70px #0d2601;
}

.img_border {
    padding: 100px 0px 0px 0px;
    max-width: 557px;
    width: 100%;
    margin-left: 70px;
    border-bottom: 36px solid #0d2601;
}

/* WASABI */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d2c0d;
    color: #cfe3cf;
    padding: 40px;
}

/* Caixa da imagem */
.imagem-wasabi {
    display: flex;
    background-color: #cfe3cf;
    padding: 20px;
    width: 50%;
    min-width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin: none;
}

.imagem-wasabi img {
    max-width: 300px;
    height: 150%;
}

.texto {
    margin-left: 40px;
}

.texto h1 {
    font-size: 50px;
    font-weight: normal;
    line-height: 2;
}

.texto .destaque {
    color: #5c9e10;
    font-weight: bold;
}

.texto p {
    margin-top: 20px;
    color: #5c9e10;
    font-size: 30px;
}

/* SIMULAÇÃO */

.sobre {
    background-color: #cde2c7;
    /* verde claro do fundo */
    padding: 60px 20px;
    text-align: center;
}

.sobre h1 {
    font-family: 'Raleway';
    margin-bottom: 50px;
    color: #0D2601;
    width: 1500px;
    height: 200px;
    font-size: 70px;

}


.sobre .verde {
    color: #5a9b2c;
    font-weight: bold;
}

.beneficios {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.item {
    max-width: 250px;
}

.item img {
    justify-content: space-between;
    width: 150px;
    margin-bottom: 15px;
    
}

.item p {
    font-size: 25px;
    color: #1c2c17;
}